<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Joes" connectionString="Server='DESKTOP-KS8Q9C5\SQLEXPRESS';Database='JoesTechService';Trusted_Connection=True;" providerName="System.Data.SQLClient"></add>
    <add name="WebConnection" connectionString="http://localhost:55679/"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
